<script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      {{#unless access_token}}
        window.location.href = window.location.href + '?access_token=' + response.authResponse.accessToken + '---' + response.authResponse.userID; 
      {{/unless}}
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ app_id }}',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.6'
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<p>
  <fb:login-button
    scope="public_profile,email,user_likes,user_posts,user_about_me,
    user_location,user_birthday,user_likes,user_actions.books,user_actions.music,user_events,user_relationships"
    onlogin="checkLoginState();">
  </fb:login-button>
</p>
<div id="status"></div>
{{#if access_token}}
  <p>
    <div class="fb-send-to-messenger"
      messenger_app_id="{{ app_id }}"
      page_id="{{ page_id }}"
      data-ref="{{ access_token }}"
      color="blue"
      size="standard"></div>
  </p>
{{/if}}
